@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../app/lib/fonts/material-icons/material-icons.woff2) format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(../app/lib/fonts/raleway/Raleway-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(../app/lib/fonts/raleway/Raleway-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(../app/lib/fonts/raleway/Raleway-Light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Inventory Icons';
  src:url(../app/lib/fonts/raleway/inventory-app-icons/Flaticon.eot?-cmq1um);
  src:url(../app/lib/fonts/raleway/inventory-app-icons/Flaticon.eot?#iefix-cmzq1um) format('embedded-opentype'),
  url(../app/lib/fonts/raleway/inventory-app-icons/Flaticon.woff?-cmq1um) format('woff'),
  url(../app/lib/fonts/raleway/inventory-app-icons/Flaticon.ttf?-cmq1um) format('truetype'),
  url(../app/lib/fonts/raleway/inventory-app-icons/Flaticon.svg?-cmq1um#Flaticon) format('svg');
  font-weight: normal;
  font-style: normal;
}

.inv-icons{
  font-family: 'Inventory Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, a, span{
    font-family: 'Raleway';
}



.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }
  .inputdemoErrorsAdvanced .hint.ng-hide,
  .inputdemoErrorsAdvanced .hint.ng-enter,
  .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
  .inputdemoErrorsAdvanced .hint.ng-leave,
  .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }

md-progress-circular{
      margin: 0 auto;
    }


/*Dashboard Styles*/
#Dashboard .md-headline{
  font-size: 80px;
  font-weight: 100;
      line-height: 100%;
}

#Dashboard .md-subhead{
  font-size: 22px;
      line-height: 100%;
      color: #FFF;
}

#Dashboard .md-media-lg img {
  width: 260px;
  opacity: .5;
}

#Dashboard md-card{
  overflow: hidden;
}

#Dashboard .all-products-card{
  background-color: #2196F3;
  color: #FFF;
}

#Dashboard .checkin-products-card{
  background-color: #8BC34A;
  color: #FFF;
}

#Dashboard .checkout-products-card{
  background-color: #f44336;
  color: #FFF;
}

#Dashboard md-card-actions{
      padding: 10px;
      height: 56px;
}
#Dashboard md-card md-card-title md-card-title-media {
    margin-top: -24px;
}

.md-button:not([disabled]):hover {
    background-color: rgba(255,255,255,0.2);
}

#app-menu{
  position: fixed;
  top: 64px;
  z-index: 8;
}

ng-view md-content {
    padding-top: 140px!important;
}

.product_qr_code{
  padding: 10px;
}

img.product_qr_code {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.moment_ago {
    text-transform: uppercase;
    background-color: #2196f3;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

#searchInput {
    font-size: 16px;
    font-weight: 300;
}

.products-table-toolbar{
  padding: 0
}

.products-info p{
  font-size: 18px;
  font-weight: 900;
      margin-top: 0;
}

.products-info span{
  font-weight: 100;
}

.product_img{
    text-align: center;
}

.product_img>img {
    width: 255px;
}

.checkin-quantity{
  width: 47%;
float: left;
margin-right: 50px;
}

.checkin-user-input{
  width: 25%;
    display: inline-block;
}

.checkin-btn{

  float: right;
      width: 11%;
}

md-autocomplete{
  width: 50%;
  margin: 30px;
}

.no-result-text{
font-weight: 100;
line-height: 50px;
}
.no-result-link button{
  font-size: 20px;
  padding: 20px;
  color: #2196f3;
  font-weight: 900;
}


.no-results{
  text-align: center;
}


.no-result-image{

}

.login-container{
  margin: 0 auto;
}

.loginToastFalse div{
  background-color: #f44336!important;
}

.loginToastFalse div button, .loginToastTrue div button{
  color: #fff!important;
}

.loginToastFalse div button:hover{
  background-color: #fff!important;
  color: #f44336!important;
}


.loginToastTrue div{
  background-color: #4CAF50!important;
}

.loginToastTrue div button:hover{
  background-color: #fff!important;
  color: #4CAF50!important;
}

.addRoomDialog{
  width: 40%;
}

.addProductDialog{
width: 50%;
}


.saveBtn{
width: 150px;
}

.saveProgress{
  padding-left: 10px;
margin-left: 10px;
display: inline;
}

.room-autocomplete .item-title,
.room-autocomplete .item-metadata {
  display: block;
  line-height: 2;
}
.room-autocomplete li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.room-autocomplete li:last-child {
  border-bottom-width: 0;
}

.room-autocomplete .item-title{
  font-size: 16px;
  color: #2196f3;
  font-weight: 900;
}

.room-autocomplete .item-metadata {
  font-size: 12px;
  color: #404040;
}

.acContainer {
    display: flex;
}

.acContainer md-autocomplete {
    width: 100%;
}

.acContainer md-icon {
    padding: 10px 10px 0px 0px;
}

.acContainer md-icon, .acContainer md-autocomplete {
    margin: 0;
}

.addProductDialog md-icon{
      color: #757575;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
      font-weight: normal;
      color: #757575;
      font-size: 24px!important;
      margin: 0!important;
}

.md-active md-icon.inv-icons:before {
    color: #000!important;
}

.assembleProductDialog {
    width: 75%;
}

.close-dialog-btn {
  position: absolute;
  right: -25px;
  top: -25px;
  width: 40px!important;
  height: 40px!important;
  background-color: #f44336!important;
}

.save-dialog-btn{
  background-color: #4CAF50!important;
}

.print-dialog-btn{
  background-color: #FF9800!important;
}

.qr-dialog-action-btns {
  position: absolute;
    bottom: -70px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.qr-dialog-action-btns button{
    margin: -5px 20px;
}

.print-dialog-btn i, .save-dialog-btn i {
    font-size: 30px;
}

.close-dialog-btn i {
    font-size: 28px;
}

a.qrcode-link canvas {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.qrCodeValue{
  position: absolute;
  bottom: 55px;
  background-color: #03a9f4;
  border-radius: 20px;
  padding: 5px 25px;
  color: #FFF;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 22px;
}

.selectedActions{
  display: flex;
}

.productsCol, .componenetsCol{
  overflow: auto;
}

.productsCol{
      border-right: 1px solid #e1e1e1;
}

.dialogContent>div{
  height: 500px;
  max-height: 500px;
  padding: 0;
}

.dialogContent::-webkit-scrollbar {

  overflow: hidden;
    display: none;
}



::-webkit-scrollbar {
  background-color: #e1e1e1;
  width: 0.5em;

}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 50px;
}
.assembleProductDialog md-dialog-actions{
    background-color: #e1e1e1;
}

.listQR{
  width: 100px!important;
  height: 100px!important;
  border-radius: 0!important;
}

.itemInputs md-input-container{
  margin: 0!important;
}

.componentsListItem{
  padding-top: 10px!important;
  padding-bottom: 15px!important;
}

.itemInfo{
  margin-bottom: 10px;
}

.aProductRoom {
  margin: 9px 2px 10px 0px;
  width: 100%;
  display: inline-block;
}

.aProductForm{
  margin:0;
}

.item-closed{
 max-height: 0;
 min-height: 0;
    transition: all 0.45s ease-out;
    overflow: hidden;
    background: #d5d5d5;
}

.item-open{
    max-height: 500px;
    min-height: 0px;
    overflow: hidden;
    transition: all 0.65s ease-in;
  }


p{
      font-family: Roboto,Helvetica Neue,sans-serif;
}

.vAccordion--default v-pane-header {
    border: none!important;
    padding-left: 20px!important;
    margin-bottom: 0!important;
    display: inline-block;
}

.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
    right: auto!important;
    left: 0!important;
}

.componentsList {
    padding-top: 5px;
    margin: 0;
    padding-bottom: 5px;
}

.componentsAccordion v-pane-content>div {
    padding-bottom: 10px!important;
}

.componentsAccordion v-pane-content{
  width: 100%;
}

span.componentsCount {
  background-color: #2196f3;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: relative;
  float: right;
  color: #FFF;
  font-weight: 300;
  line-height: 22px;
  transform: scale(1);
  margin-left: 10px;
  top: -2px;
}

.componentsCount {
    opacity: 1;
    transition: all ease-in-out 0.5s;
}

.is-expanded .componentsCount {
    opacity: 0;
    transform: scale(0);
}

.noResults{
  text-align: center;
  margin-top: 150px;
  font-size: 20px;
}

.noResults h4{
  font-weight: 100;
}

.md-subheader-inner {
    padding-bottom: 0!important;
}

.allProductsCol{
    border-right: 1px solid #e1e1e1;
    height: 100%;
    max-height: 100%!important;
}

.assembledProductCol{
  height: 100%;
  max-height: 100%!important;
}


.assembleProductInfo md-toolbar{
  background-color: #2196f3!important;
  color: #FFF!important;
}


.allProductsCol md-card{
  margin:0;
  position: fixed;
  z-index: 9;
  width: 49.9%;
}

.assembledProductCol form{
  margin-top: 64px;
  overflow-y: scroll;
  height: 445px;
  padding: 0;
  margin-bottom: 0;
}



.allProductsCol md-list{
  margin-top: 64px;
  overflow-y: scroll;
  max-height: 445px;
  padding: 0;
}

.componentsCard{
  overflow: hidden;
  margin: 0;
  height: 50px;
  transition: all 500ms;
  outline: none;
  border: 0;
}

.componentsCard md-card-title{
  cursor: pointer;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #e1e1e1!important;
  padding-bottom: 0;
  max-height: 39px;
}

.componentsCard md-card-title:hover{
      background-color: rgba(33, 150, 243, 0.3);
}

.componentsCard md-card-title h3{
  margin: 0;
  line-height: 30px;
  display: -webkit-inline-box;
  width: 93%;
  font-weight: 400;
  font-size: 20px;
}

.expanded{
  margin: 20px 10px 20px 10px;
  height: 220px;
  outline: none;
  border: 0;
}

.ng-leave{
  display: none;
}

.componentsCard md-card-title[md-ink-ripple] {
  position: relative;
  outline: none;
  border: 0;
}

.componentsCard md-card-title:focus{
  outline: none;
  border: 0;

}

.removeComponent{
  padding: 0!important;
  margin: 0!important;
  top: -5px;
}

.removeComponent:hover{
background-color:rgb(255,87,34)!important;

}
.removeComponent:hover md-icon{
  color: #FFF!important;
}


.componentQuantity{
  background-color: #2196f3;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 60px;
  top: 12px;
  border-radius: 50%;
  color: #FFF;
  padding: 5px;
  text-align: center;
}

.componentError{
  position: absolute;
  right: 60px;
  top: 9px;
  padding: 5px;
  text-align: center;
}

.componentError md-icon {
    color: #FF9800;
}


.assembleProductInfo{
  margin:0;
}
.assembledProductCol>md-card{
    margin: 0;
    position: fixed;
    z-index: 9;
    width: 50%;
}

.componentsCard md-card-content>p{
  margin-top: 15px!important;
  margin-bottom: 0;
}

.assembledProductCol>md-card{
  margin: 0!important;
}

.assembleProductInfo md-card-content{
  padding-top:0;
}

.qrCodeBox{
      text-align: center;
}

.qrCodeLabel{
  background-color: #03a9f4;
border-radius: 20px;
width: 40%;
color: #FFF;
margin: 0 auto;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
text-overflow: ellipsis;
overflow: hidden;
margin-top: 10px
}

.no-comp{
  font-weight: 100;
font-size: 25px;
text-align: center;
}

barcode{
      text-align: right;
}

.barcodeRow{
  margin-bottom: 10px;
  margin-top: 30px;
}

.barcodeCol{
  text-align: right!important;
}

.barcodeMSG{
  width: 80%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #2196f3;
    border-radius: 10px;
    padding: 10px;
}

.barcodeCol img{
  border: 1px solid #2196f3;
  padding: 10px;
  border-radius: 10px;
}

.productsBarcode img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.productsBarcode50 img{
  width: 50%;
}

.qrCodeCol, .barcodeCol{
  margin: auto 0!important;
  text-align: center;
}

.userRankIcon {
  background: url(./app/icons/lieutenant.png);
      width: 100%;
      height: 50%;
      background-size: contain!important;
      background-repeat: no-repeat!important;
background-position: center center!important;
}
md-dialog.addUserDialog {
    width: 50%;
}


.userTypeSelect{
  display: flex;
}

.userTypeSelect md-radio-button{
  margin-right: 30px;
}

md-radio-group.userForces {
    display: flex;
    justify-content: space-between;
}

.userForceFlag{
  width: 100px;
  height: 100px;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  background-position: center center!important;
  margin: 0 auto;
}

.userForces{
  text-align: center;
}

.userForces md-radio-button{
  padding: 5px;
  margin: 5px;
  width: 200px;
  background-color: #FFF;
}

.userForces md-radio-button.md-checked{
  background-color: rgba(33, 150, 243, 0.3);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.rankIconCol{
  padding: 20px;
}



.userForces md-radio-button .md-container{
  display: none!important;
}

.userForces md-radio-button .md-label{
  margin: 0!important;
}

.qrCodeImg{
  margin: 0!important;
border-radius: 0!important;
width: 80px!important;
height: 80px!important;
padding: 10px;
}

.searchBox{
  margin: auto 0!important;
height: 40px;
}

md-dialog-actions {
    background-color: #e1e1e1;
}

.addUserDialog .md-dialog-content {
    padding: 0;
}

.enlargeQRDialog a.qrcode-link canvas{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.enlargeQRDialog a.qrcode-link{
  pointer-events: none;
  cursor: default;
}

.checkin-QRCode a.qrcode-link canvas{
  width: 150px;
  height: auto;
}

.roomNumberSelect{
  margin-top: 45px;
}

.userToolTip{
  text-transform: capitalize;
}

.editUserDialog .md-dialog-content{
  padding: 0!important;
}

 .md-dialog-content form{
   padding: 24px;
 }

 .userRoles{
  -moz-column-count: 3;
  -moz-column-gap: 50px;
  -webkit-column-count: 3;
  -webkit-column-gap: 50px;
  column-count: 3;
  column-gap: 50px;
  width: 425px;
  padding: 0!important;
  float: left;
 }

 .checkOutForm .checkout-user{
   display: inline-block;
   width: 43%;
 }

 .status_icon {
    font-size: 40px;
}
