<md-dialog aria-label="Delete Product" class="deleteAssembleProductDialog">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><md-icon>remove</md-icon> Delete Product</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">clear</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
              {{component.title}} is an assemble product, would you like to delete it?
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-warn" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary saveBtn" ng-click="delete(product)">
                Delete
            </md-button>
        </md-dialog-actions>

</md-dialog>
